<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="{{ item.jdbc_package_name }}">
  <resources>
    <resource-root path="{{ item.jdbc_jar_name }}"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
  </dependencies>
</module>